AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !=f
RewriteCond %{REQUEST_FILENAME} !=d
RewriteCond %{REQUEST_URI} !^(.*)\.(css|js|jpg|jpeg|png|gif|svg)$ [NC]
RewriteRule ^(.*)$ index.php
php_value default_charset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
